headline font: 
H1: Rosella Engraved
H2: Hero New Hairline

body font: Josefin Sans
accent font: Liu....Mao ?????

API key: 613731bc43cedb6d1f97edad

color pallette:
black: #252621
Green: #403E22
Yellow: #BF9E39
Orange: #8C4E03
Red: #592202
greys, whites
textures: ice wood glass/condensation
images: line drawings, glasses, bottles


